* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body {
    font-family: "Roboto", sans-serif;
    
}
.cabecera{
   background-color: black; 
    width: 100%;
    height: 40px;
    color: white;
    justify-content: space-between;
    align-items: center;
    display: flex;
    }
.logo{
    height: 40px;
    width: auto; 
    pa
}
.menu{
    height: 40px;
    width: auto;
    }
.imge{
    background-position: right;
    height: 600px;
    padding-left: 40%;
    background-color: rgb(80, 156, 243);
    color: white;
    height: 600px;
    padding-left: 40%;
    display: flex;
    

}
h1 {
    position:absolute;
    color: white;
    top: 175px;
    left: 15px;
    font-size: 100px;
    overflow-block: 150px;
    font-family: "Roboto", sans-serif;
    font-size: 300%;
}
h2 {
    position:relative;
    color: white;
    top: 300px;
    font-size: 30px;
    font-weight: bold;
}
.Planes {
    background-color: green;
    color:white;
    text-decoration: none;
    top: 500px;
    left: 50px;
    position: absolute;
    font-size: 20px;
    border-radius: 10px;
    
}
small {
    position:absolute;
    color: white;
    top: 600px;
    left: 50px;

}
.section2{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

}
.benefit1{
    justify-content: right;
}