:root {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body {
    font-family: "Roboto", sans-serif;
    
}
.cabecera{
    background-color: black; 
    width: 100%;
    height: 40px;
    color: white;
    justify-content: space-between;
    align-items: center;
    display: flex;
    }
.logo{
    height: 40px;
    width: auto; 

}
.menu{
    height: 40px;
    width: auto;
    }
.section1 {
    background-position: right;
    height: 600px;
    padding-left: 40%;
    background-color: rgb(80, 156, 243);
    color: white;
    height: 600px;
    padding-left: 40%;
    display: flex;
}
/*.article {
    color: white;
    display: flex;
    position: absolute;
    top: 175px;
}*/
h1 {
    position:absolute;
    color: white;
    top: 175px;
    left: 15px;
    font-size: 100px;
    overflow-block: 150px;
    font-family: "Roboto", sans-serif;
    font-size: 300%;
}

h2{
    display: flex;
    position:relative;
    color: white;
    top: 300px;
    font-size: 30px;
    font-weight: bold;
}
.Planes {
    background-color: green;
    color:white;
    padding: 5px;
    text-decoration: none;
    top: 500px;
    left: 50px;
    position: absolute;
    font-size: 20px;
    border-radius: 10px;
    
}
small {
    position:absolute;
    color: white;
    top: 600px;
    left: 50px;

}
.section2{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

}
.benefit1{
    justify-content: right;
}






:root {
    font-size: 62.5%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 
.page {
    margin:0;
}
.container {
    margin:0 1.5rem;
}
.page-header {
    height: 5rem;
    margin: 0;
    width: 100%;
    text-transform: uppercase;
    background-color: #099d8d;
    color:#ffffff; 
}
.page-header-title {
    margin: 0; 
    display: flex;
    justify-content: space-around
}
.hero {
    height: 42.10rem;
    background-image: url(../Imagenes/equipo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero .container {
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.hero-title {
    margin: 0;
    padding: 1rem;
    background-color: #ffffff;
    transform: translateY(50%);
    flex-grow: 1;
    margin:0 1.5rem;
}
.cabecera {
    height: 3.5rem;
    width: 100%;
    text-transform: uppercase;
    background-color: #14d9c4;
    display: flex;
    
}
.cabecera-contenedor {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.boton {
    color: #ffffff;
    text-decoration: none;
}
